In [1]:
import pandas as pd

# Load the CSV file with encoding specified
file_path = '/content/IL_data.csv'  # Update this if your file path is different

# Try loading with different encodings to handle potential issues
try:
    data = pd.read_csv(file_path, encoding='utf-8')  # Default encoding
except UnicodeDecodeError:
    data = pd.read_csv(file_path, encoding='ISO-8859-1')  # Fallback encoding

# List of columns to analyze
columns_of_interest = [
    'iyear', 'imonth', 'iday', 'country', 'city',
    'latitude', 'longitude', 'nperps', 'nkill', 'nwound',
    'location', 'success', 'attacktype1', 'suicide',
    'targtype1', 'weaptype1_txt', 'gname', 'extended'
]

# Filter the dataset for the specified columns
filtered_data = data[columns_of_interest].dropna()

# Filter for rows where the country is 'Israel'
filtered_data_israel = filtered_data[filtered_data['country'] == 'Israel']

# Remove rows with negative values in numeric columns
for column in columns_of_interest:
    if pd.api.types.is_numeric_dtype(filtered_data[column]):
        filtered_data.loc[filtered_data[column] < 0, column] = pd.NA

# Function to display column information
def display_column_info(data):
    """
    Displays information about each column in the dataset, including:
    - Minimum and maximum values for numeric columns
    - Count of unique values
    - Up to 40 unique values for each column
    """
    for column in data.columns:
        print(f"Column: {column}")

        try:
            # Attempt to convert the column to numeric
            numeric_col = pd.to_numeric(data[column], errors='coerce')

            # Check for numeric data and print min/max if applicable
            if numeric_col.notna().any():
                print(f"Min Value: {numeric_col.min()}")
                print(f"Max Value: {numeric_col.max()}")
            else:
                print("No valid numeric data in this column after conversion.")
        except Exception as e:
            # Handle errors for non-numeric columns
            print(f"Error processing column {column}: {e}")

        # Count unique values in the column
        unique_count = data[column].nunique()
        print(f"Unique Values Count: {unique_count}")

        # Display up to 40 unique values
        unique_values = data[column].unique()
        print(f"Unique Values ({min(unique_count, 40)} shown):")
        print(unique_values[:40])

        print("-" * 40)

# Display unique values and statistics for the filtered data
display_column_info(filtered_data)

Column: iyear
Min Value: 1972.0
Max Value: 2017.0
Unique Values Count: 22
Unique Values (22 shown):
[1972. 1995. 1997. 1998. 1999. 2000. 2001. 2002. 2003. 2004. 2006. 2007.
 2008. 2009. 2010. 2011. 2012. 2013. 2014. 2015. 2016. 2017.]
----------------------------------------
Column: imonth
Min Value: 1.0
Max Value: 12.0
Unique Values Count: 12
Unique Values (12 shown):
[ 9. 11.  3. 10.  8.  1.  2.  4.  7. 12.  6.  5.]
----------------------------------------
Column: iday
Min Value: 1.0
Max Value: 31.0
Unique Values Count: 31
Unique Values (31 shown):
[20. 22.  4. 21. 26. 10. 27. 29. 25. 14. 28.  9.  3.  7. 30.  2. 16. 18.
 12. 19. 15.  8. 17. 11.  5. 24. 31.  1. 13.  6. 23.]
----------------------------------------
Column: country
Min Value: 97.0
Max Value: 97.0
Unique Values Count: 1
Unique Values (1 shown):
[97.]
----------------------------------------
Column: city
No valid numeric data in this column after conversion.
Unique Values Count: 55
Unique Values (40 shown):
['Jerusalem' 'Tel Aviv' 'Petah Tiqwa' 'Itamar' 'Rehovot' 'Rosh Haayin'
 'Atarot' 'Holon' 'Talpiot' 'Kissufim' 'Unknown' 'Haifa' 'Beit Shean'
 'Pardes Hanna' 'Hadera' 'Kfar Aza' 'Jerusalem district' 'Netanya' 'Erez'
 'Zarit' 'Rosh Hanikra' 'Ashkelon' 'Nahal Oz' 'Eshkol regional council'
 'Shaar HaNegev regional council' 'Nir Oz' 'Karni district' 'Beersheba'
 'Ofakim' 'Sdot Negev regional council' 'Eilat' 'Lachish regional council'
 'Har Sagi' 'Netivot' 'Kiryat Malachi' 'Rishon Lezion' 'Kfar Yona'
 'Akbara' 'Wadi Ara' 'Nahariya']
----------------------------------------
Column: latitude
Min Value: 29.554548
Max Value: 33.277232
Unique Values Count: 85
Unique Values (40 shown):
[31.771599 32.08297  32.089161 32.171833 31.889393 32.09792  31.784838
 31.376445 32.694332 32.793921 32.496086 32.473605 32.434788 31.484053
 31.783343 32.329052 32.332612 31.558212 32.330281 31.853918 33.099345
 33.086006 31.557578 31.670149 31.502407 31.348022 31.192114 31.50672
 31.506441 31.310932 31.669316 31.453035 31.248484 31.472609 30.66667
 31.299865 31.39708  31.393674 31.413155 29.554548]
----------------------------------------
Column: longitude
Min Value: 34.369413
Max Value: 35.772117
Unique Values Count: 86
Unique Values (40 shown):
[35.2034   34.811886 34.88382  35.309437 34.809902 34.954537 35.224613
 34.369413 35.476697 34.990615 35.498352 34.975094 34.92157  34.533436
 35.266543 34.849829 34.851529 34.543305 34.852969 35.263051 35.319856
 35.115343 34.542934 34.575153 34.459743 34.491093 34.449473 34.632793
 34.621699 34.402058 34.570802 34.465514 34.787853 34.497696 34.83333
 34.622695 34.555231 34.580231 34.641744 34.947533]
----------------------------------------
Column: nperps
Min Value: 0.0
Max Value: 9.0
Unique Values Count: 6
Unique Values (6 shown):
[nan  1.  2.  3.  4.  0.  9.]
----------------------------------------
Column: nkill
Min Value: 0.0
Max Value: 31.0
Unique Values Count: 12
Unique Values (12 shown):
[ 0.  1.  4.  8. 16.  2.  3. 31.  7.  6.  5. 10.]
----------------------------------------
Column: nwound
Min Value: 0.0
Max Value: 140.0
Unique Values Count: 28
Unique Values (28 shown):
[  0.   1.  47.   6.   2.  17.   3.  28. 130.   8.  38.  37.  60. 140.
  20.  32.  50.   4.  26.  16.   9.  14.  62.  45.  10.   5.   7.  21.]
----------------------------------------
Column: location
No valid numeric data in this column after conversion.
Unique Values Count: 181
Unique Values (40 shown):
['The incident occurred on Jaffa street.' "In Tel Aviv's Kings Square."
 'The incident occurred on Ben Gurion Street in the city.'
 'This incident occurred in an olive grove outside the Jewish settlement of Itamar.'
 'This inicident occurred near Rehovot.'
 'Near the Patt intersection in Jerusalem'
 'Three kilometers east of Kibbutz Nahshonim'
 'Near the Atarot industrial zone north of Jerusalem'
 'The incident occurred at the Azur intersection, near the city.'
 'Near the French Hill settlement area'
 'In the southern portion of Jerusalem'
 "French Hill, in the Pisgat Ze'ev neighborhood of the city."
 'The incident occurred on Herzl St in the city.'
 'The incident occurred on a road leading to the Kissufim settlement.'
 'King George Street and Jaffa Road in downtown Jerusalem.'
 'French Hill neighborhood' "In Jerusalem's French Hill neighborhood"
 "In Jerusalem's Gilo Jewish neighborhood"
 'The incident occurred in the Jordan Valley'
 "At Checkpoint Junction in Haifa's northern area"
 'This attack occurred close to the Shluhot kibbutz, near Beit Shean in North District, Israel.'
 "Near the Hebrew University's Mt. Scopus campus."
 'In Kirat Hayovel district.'
 'This incident occurred at an army base outside the town.'
 'This incident took place near an Israeli military base at the Bardis Hanna intersection outside Hadera in Haifa District, Israel.'
 'In Rehov Hagiborim, Halissa district of Haifa'
 'The incident occurred near the city.'
 'The incident occurred on the road between Jerusalem and the settlement of Ma\x92aleh Adumim.'
 "The incident occurred On the Atarot-Givat Ze'ev road near the Atarot industrial area."
 'The incident occurred at the Jeremy Hotel in the city.'
 'The incident occurred on King George street.'
 'The incident occurred at the Park Hotel in the city.'
 'The incident occurred at the Supersol grocery store.'
 'The incident occurred at My Coffee Shop in the city.'
 'The incident occurred at Mahane Yehuda outdoor market.'
 'The incident occurred in a bus on Allenvy St .'
 "Near Beit Shean and Kibbutz Nir David, in the Bet She'an Valley"
 'The incident occurred just outside of Pardes Hanna.'
 'The incident took place off the Erez Crossing.'
 'The incident occurred at the Caf√© London in the city.']
----------------------------------------
Column: success
Min Value: 0.0
Max Value: 1.0
Unique Values Count: 2
Unique Values (2 shown):
[0. 1.]
----------------------------------------
Column: attacktype1
Min Value: 1.0
Max Value: 9.0
Unique Values Count: 7
Unique Values (7 shown):
[1. 3. 2. 9. 6. 8. 7.]
----------------------------------------
Column: suicide
Min Value: 0.0
Max Value: 1.0
Unique Values Count: 2
Unique Values (2 shown):
[0. 1.]
----------------------------------------
Column: targtype1
Min Value: 1.0
Max Value: 21.0
Unique Values Count: 11
Unique Values (11 shown):
[ 2. 12. 14.  1.  4.  3.  8. 19. 20. 15. 21.]
----------------------------------------
Column: weaptype1_txt
No valid numeric data in this column after conversion.
Unique Values Count: 6
Unique Values (6 shown):
['Explosives' 'Firearms'
 'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)'
 'Unknown' 'Melee' 'Incendiary']
----------------------------------------
Column: gname
No valid numeric data in this column after conversion.
Unique Values Count: 24
Unique Values (24 shown):
['Black September' 'Jewish Fighting Organization (Eyal)'
 'Hamas (Islamic Resistance Movement)' 'Israeli settlers' 'Unknown'
 'Al-Fatah' 'Gunmen' 'Palestinian Islamic Jihad (PIJ)'
 'Al-Aqsa Martyrs Brigade'
 'Popular Front for the Liberation of Palestine (PFLP)'
 'Palestinian Extremists' 'Palestinians' 'Hezbollah'
 'Ahrar Al-Jalil (Free People of the Galilee)'
 'Popular Resistance Committees' 'Conqueror Army'
 'Democratic Front for the Liberation of Palestine (DFLP)'
 'Ansar Al Sunnah (Palestine)' 'Tawhid and Jihad (Palestine)'
 'Mujahedeen Shura Council in the Environs of Jerusalem'
 'Israeli extremists' 'Muslim Brotherhood'
 'Islamic State of Iraq and the Levant (ISIL)'
 'Sinai Province of the Islamic State']
----------------------------------------
Column: extended
Min Value: 0.0
Max Value: 1.0
Unique Values Count: 2
Unique Values (2 shown):
[0. 1.]
----------------------------------------